/*------------variaveis de cor ----------------*/

:root {
    --green-500: #009e66;
    --black: #101010;
    --white: #ffffff;
}

/*------------end----------------*/

/*----------------ELEMENTOS GERAIS----------------------*/

* {
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 2;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;

}

a {
    cursor: pointer;
}

/*-------------------end----------------------*/

/*-------------------SECTION ONE----------------------*/
.container_main {
    height: 100vh;
    width: 100%;
    background: url(./images/image-header.png);
    background-position: 7% 10%;
    background-size: cover;


}

.container_main::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: var(--black);
    opacity: 0.7;


}

header {
    height: 80px;
    width: 100%;
    display: flex;
}

.logo {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.logo a{
    display: flex;
}
.logo a img {
    margin-top: 10px;
}

.navbar {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

.navbar nav {
    margin-right: 250px;

}

.navbar nav ul {
    display: flex;

}

.navbar nav ul li {

    list-style-type: none;
    margin-right: 30px;
    transition: 0.3s;
}

.navbar nav ul li:hover {
    color: var(--green-500);

}
.text{
    margin-right: 110px;
}

.text_main {
    width: 60%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;

}

.text h1 {
    font-size: 50px;
}

.text span {
    font-size: 30px;
}

.button_main {
    width: 100%;
    justify-content: center;
}

.button_main button {
    background-color: var(--green-500);
    width: 180px;
    height: 50px;
    font-size: 21px;
    margin-top: 20px;
    transition: 0.3s;
}

.button_main button:hover {
    filter: brightness(0.8);
}
.container_contact{
width: 70%; 
display: flex;
justify-content: space-between;
position: relative;
top: 150px;
margin-left: 55px;
}
.container_contact .contact{
    min-width: 250px;
    height: 70px;
    border-right: 1px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_contact .contact:last-child{
    border-right: none;
}
.container_contact .contact div {
    display: flex;
    flex-direction: column;
}
.container_contact .contact div h3{
    margin-bottom: 10px;
}
.container_contact .contact div span{
    opacity: 0.3;
}

/*-------------------end----------------------*/


/*-------------------SECTION TWO----------------------*/

.formulario{
    content: "";
    background-color: var(--black);
 }

 form{
    height: 100vh;
    width: 100%;
    background: url(./images/image-form.png);
    background-position: 7% 10%;
    background-size: cover;
    position: absolute;
}
.envio{
    margin-top: 270px;
    margin-left: 200px;
}
label{
       
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
#nome, #mail, #ass, #msm{
    background-color: var(--black);
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}
#nome, #mail {
   width: 260px;
   height: 40px;
   margin-right: 10px;
}
#ass{
   width: 540px;
   height: 45px;
   display: flex;
}
#msm{
    width: 540px;
    height: 200px;
    display: flex;
}
.enviar{
    width: 75px;
    height: 35px;
    margin-top: 15px;
    background-color: var(--green-500);
    color: var(--white);
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    font-size: 20px solid;
}
.enviar:hover{
    filter: brightness(0.8);
    background-color: var(--green-500);
}
